<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- Console Log Setting -->
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<encoder>
				<pattern>[%d{yyyy/MM/dd HH:mm:ss}] %highlight(%-5level)| %cyan(%-25.25logger{0}) | %msg%n</pattern>
			</encoder>
		</layout>
	</appender>
	
	<logger name="com.kh.spring" level="DEBUG" /> <!-- spring 패키지 안에있는건 다 debug 레벨로 나옴 -->
	<logger name="jdbc.resultsettable" level="INFO" /> <!-- 이렇게 설정하면 root level과 상관없이 나옴 필요한 클래스만 추가 -->
		
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>