<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings><!-- value 에 NULL 은 무조건 대문자로  -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.kh.spring.community.model.vo.CommunityBoard" alias="CommunityBoard"/>
		<typeAlias type="com.kh.spring.community.model.vo.CommunityAttachment" alias="CommunityAttachment"/>
		<typeAlias type="com.kh.spring.community.model.vo.CommunityReply" alias="CommunityReply"/>
		
		<typeAlias type="com.kh.spring.hr.model.vo.Work" alias="Work"/>
		<!-- 
		<typeAlias type="com.kh.spring.chat.model.vo.Chat" alias="Chat"/>
		<typeAlias type="com.kh.spring.library.model.vo.LibraryBoard" alias="LibraryBoard"/> 
		-->
		
		
	</typeAliases>


	<mappers>
		<mapper resource="/mappers/community-mapper.xml"/> 
		<mapper resource="/mappers/chat-mapper.xml"/> 
		<mapper resource="/mappers/library-mapper.xml"/> 
		<mapper resource="/mappers/hr-mapper.xml"/> 
	</mappers>


</configuration>
