<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings><!-- value 에 NULL 은 무조건 대문자로  -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
	
		<!-- 회원 -->
		<typeAlias type="com.kh.spring.member.model.vo.LoginInfo" alias="LoginInfo"/>
		<typeAlias type="com.kh.spring.member.model.vo.Member" alias="Member"/>
	
		<!-- 커뮤니티게시판 -->
		<typeAlias type="com.kh.spring.community.model.vo.CommunityBoard" alias="CommunityBoard"/>
		<typeAlias type="com.kh.spring.community.model.vo.CommunityAttachment" alias="CommunityAttachment"/>
		<typeAlias type="com.kh.spring.community.model.vo.CommunityReply" alias="CommunityReply"/>
		<typeAlias type="com.kh.spring.community.model.vo.CommunityCategory" alias="CommunityCategory"/>

		<!-- 커뮤니티&자료실 -->
		<typeAlias type="com.kh.spring.common.SelectBoardListInfo" alias="SelectBoardListInfo"/>
		
		<!-- 자료실 -->
		<typeAlias type="com.kh.spring.library.model.vo.LibraryBoard" alias="LibraryBoard"/>
		<typeAlias type="com.kh.spring.library.model.vo.LibraryCategory" alias="LibraryCategory"/>

		<!-- 메신저 -->
		<typeAlias type="com.kh.spring.chat.model.vo.Department" alias="Department"/>
		<typeAlias type="com.kh.spring.chat.model.vo.ContectList" alias="ContectList"/>
	
		<!-- 전사공지 -->
	    <typeAlias type="com.kh.spring.notice.model.vo.CompanyNotice" alias="CompanyNotice"/>
	
    	<!-- 근태관리 -->
   		<typeAlias type="com.kh.spring.hr.model.vo.Work" alias="Work"/>
   		<typeAlias type="com.kh.spring.hr.model.vo.WorkSInfo" alias="WorkSInfo"/>

    
	</typeAliases>


	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/community-mapper.xml"/> 
		<mapper resource="/mappers/chat-mapper.xml"/> 
		<mapper resource="/mappers/library-mapper.xml"/> 
		<mapper resource="/mappers/hr-mapper.xml"/> 
		<mapper resource="/mappers/notice-mapper.xml"/> 
	</mappers>


</configuration>
