<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	
	<!-- contextConfigLocation :  
		설정 xml 문서 설정문서의 로딩 시 경로를 작성하기 위한 부분
	 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:root-context.xml
			/WEB-INF/spring/spring-security.xml
		</param-value>
	</context-param>
	
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<!-- web.xml에 있는 설정 문서 중 가장 먼저 로딩되어야 하는 
		xml 문서를 읽어주기 위한 리스너  
	 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<!-- DispatcherServlet : 
		스프링에서 제공, 
		사용자의 요청을 받아주는 용도의 객체로 아래 경로를 읽어들여 IOC 컨테이너 생성
		
		servlet-context.xml :
		DispatcherServlet 객체 생성시 읽어들일 문서로
		각 요청에 처리하는 컨트롤러를 지정하는 핸들러 매핑과 
		요청 처리 후 뷰를 지정하는 뷰리졸버의 정보들을 저장하고 있는 xml 문서
	 -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml
				/WEB-INF/spring/appServlet/aspect-context.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- 한글 깨짐 방지 인코딩 (filter, filter-mapping) -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<error-page>
          <error-code>404</error-code>
          <location>/WEB-INF/views/common/errorPageFilter.jsp</location>
 	</error-page> 
 	<error-page>
          <error-code>500</error-code>
          <location>/WEB-INF/views/common/errorPageFilter.jsp</location>
 	</error-page>
	
	<!-- 
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/WEB-INF/views/common/errorPage.jsp</location>
	</error-page>
	 -->
</web-app>
