<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="calendarMapper">
	<!-- resultMap -->

	<resultMap id="eventResultSet" type="Event">
		<id column="EVT_NO" property="evtNo" />
		<result column="NAME" property="name" />
		<result column="START_DATE" property="startDate" />
		<result column="END_DATE" property="endDate" />
		<result column="CAL_NO" property="calNo" />
		<result column="REZ_NO" property="rezNo" />
		<result column="ALLDAY" property="allDay" />
		
	</resultMap>

	<resultMap id="calendarResultSet" type="Calendar">
		<id column="CAL_NO" property="calNo" />
		<result column="NAME" property="name" />
		<result column="COLOR" property="color" />
		<result column="STATUS" property="status" />
		<result column="EMP_NO" property="empNo" />
	</resultMap>

	<!-- READ -->
	<select id="selectCalList" parameterType="_int" resultMap="calendarResultSet">

		SELECT * 
		FROM CALENDAR2 
		WHERE EMP_NO = #{empNo} AND IS_DELETE = 'N'

	</select>

	<select id="selectEventList" parameterType="_int" resultMap="eventResultSet">
	
		SELECT * 
		FROM EVENT2 
		WHERE CAL_NO = #{calNo} AND IS_DELETE = 'N'
	
	</select>

	<!-- CREATE -->
	
	<insert id="insertEvent" parameterType="Event">
	
		<selectKey keyProperty="evtNo" resultType="int" order="BEFORE">
			SELECT SEQ_EVT_ID.NEXTVAL FROM DUAL
		</selectKey>
	
		INSERT INTO EVENT2 
		VALUES (#{evtNo}, #{name}, #{startDate}, #{endDate}, DEFAULT, #{calNo}, #{rezNo}, #{allDay})
		
	</insert>
	
	<insert id="insertCalendar" parameterType="Calendar">
	
		<selectKey keyProperty="calNo" resultType="int" order="BEFORE">
			SELECT SEQ_CAL_ID.NEXTVAL FROM DUAL
		</selectKey>
	
		INSERT INTO CALENDAR2 
		VALUES (#{calNo}, #{name}, #{color}, DEFAULT, DEFAULT, #{empNo})
	
	</insert>
	

	<!-- UPDATE -->

	<update id="updateCalendar" parameterType="Calendar">
	
		UPDATE CALENDAR2
		<trim prefix="SET" suffixOverrides=",">		
			<if test="name != null">
				NAME = #{name},
			</if>
			<if test="color != null">
				COLOR = #{color},
			</if>
			<if test="status != null">
				STATUS = #{status},
			</if>
		</trim>
		WHERE CAL_NO = #{calNo} AND IS_DELETE = 'N'
	
	</update>

	
	<update id="updateEvent" parameterType="Event">
	
		UPDATE EVENT2 
		<trim prefix="SET" suffixOverrides=",">		
			<if test="name != null">
				NAME = #{name},
			</if>
			<if test="startDate != null">
				START_DATE = #{startDate},
			</if>
			<if test="endDate != null">
				END_DATE = #{endDate},
			</if>
			<if test="allDay != null">
				ALLDAY = #{allDay},
			</if>
		</trim>
		WHERE EVT_NO = #{evtNo} AND IS_DELETE = 'N'
		
	</update>

	<!-- DELETE -->
	<update id="deleteEvent" parameterType="_int">
		
		UPDATE EVENT2 SET IS_DELETE = 'Y' WHERE EVT_NO = #{evtNo}
		
	</update>

	<update id="deleteCalendar" parameterType="_int">
		
		UPDATE CALENDAR2 SET IS_DELETE = 'Y' WHERE CAL_NO = #{calNo}
		
	</update>

</mapper>