<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chatMapper">




	<resultMap id="departmentResultSet" type="Department">
		<id column="DEPT_CODE" property="code"/>
		<result column="DEPT_TITLE" property="title"/>
		
	</resultMap>
	
	<resultMap id="employeeResultSet" type="ContectList">
		<id column="EMP_NO" property="eNo"/>
		<result column="LOGIN_ID" property="loginId"/>
		<result column="STATUS" property="eStatus"/>
		<result column="EMP_NAME" property="eName"/>
		<result column="PHONE" property="phone"/>
		<result column="EMAIL" property="email"/>
		<result column="DEPT_TITLE" property="deptTitle"/>
		<result column="JOB_NAME" property="jobName"/>
		
	</resultMap>
	
	
	<resultMap id="chatResultSet" type="Chat">
			<id column="CHAT_NO" property="chatNo"/>
			<result column="C_TO" property="sender"/>
			<result column="C_FROM" property="receiver"/>
			<result column="MSG" property="msg"/>
			<result column="C_TIME" property="time"/>
	
	</resultMap>
	
	
	<select id="selectDeptList" resultMap="departmentResultSet">
		
		SELECT * FROM DEPARTMENT
		
	</select>
	
	<select id ="selectContectList" parameterType="string" resultMap="employeeResultSet">
		
		SELECT * FROM VW_CONTECT_LIST
		WHERE DEPT_TITLE = #{title}
		
	</select>
	<select id ="selectContectMember" parameterType="_int" resultMap="employeeResultSet">

		SELECT * FROM VW_CONTECT_LIST
		WHERE EMP_NO = #{eno}

	</select>
	
	<insert id="insertMessage" parameterType="Chat">	
		INSERT INTO CON_CHAT VALUES(
		#{receiver},#{sender},#{msg},TO_CHAR(SYSDATE,'YYYY-MM-DD HH24:MI:SS'),SEQ_CHAT_NO.NEXTVAL)
		
	</insert>
	
	
	<update id="updateStatus" parameterType="ContectList">
	
		UPDATE CONTECT_LIST SET S_NO = #{eStatus} WHERE EMP_NO = #{eNo} 
	</update>
	
	<select id="selectChatList" parameterType="Chat" resultMap="chatResultSet">
		<![CDATA[
		SELECT 
		*
		FROM CON_CHAT
		WHERE (C_TO=#{sender}
		AND C_FROM= #{receiver})
		OR ( C_TO=#{receiver} AND C_FROM = #{sender})
		AND ROUND((SYSDATE-TO_DATE(C_TIME,'YYYY-MM-DD HH24:MI:SS'))*24,2) <= 48
		ORDER BY C_TIME
		]]>
	</select>

</mapper>