<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="communityMapper">


	<!-- CommunityBoard -->
	<resultMap id="boardResultSet" type="CommunityBoard">
		<id column="b_no" property="bno"/>
		<result column="category_no" property="cno"/>
		<result column="b_title" property="title"/>
		<result column="b_writer" property="writer"/>
		<result column="b_content" property="content"/>
		<result column="b_hit" property="hit"/>
		<result column="b_cdate" property="CDate"/>
		<result column="b_mdate" property="MDate"/>
		<result column="status" property="status"/>
		<result column="nickname" property="nickname"/>
		<result column="c_name" property="cName"/>
	</resultMap>
	
	
	<!-- CommunityAttachment  -->
	
	<resultMap id="attachmentResultSet" type="CommunityAttachment">
		<id column="f_no" property="fno"/>
		<result column="b_no" property="bno"/>
		<result column="origin_name" property="originName"/>
		<result column="change_name" property="changeName"/>
		<result column="upload_date" property="uploadDate"/>
	</resultMap>
	
	<!-- CommunityReply  -->
	
	<resultMap id="replyResultSet" type="CommunityReply">
		<id column="C_NO" property="cno"/>
		<result column="B_NO" property="bno"/>
		<result column="NAME" property="name"/>
		<result column="PWD" property="pwd"/>
		<result column="CDATE" property="CDate"/>
		<result column="PARENT_NO" property="pno"/>
		<result column="COM_COMMENT" property="comment"/>
	</resultMap>
	<!-- CommunityReply  -->
	
	<resultMap id="categoryResultSet" type="CommunityCategory">
		<id column="CATEGORY_NO" property="cno"/>
		<result column="C_NAME" property="cname"/>
		<result column="C_MANAGER" property="manager"/>
		<result column="EMP_NAME" property="managerName"/>
		<result column="STATUS" property="status"/>

	</resultMap>
	
	




	<select id ="selectListCount" parameterType="_int" resultType="_int">
	
	SELECT COUNT(*)
	FROM COMMUNITY
	WHERE CATEGORY_NO = #{cno}
	
	</select>


	<select id = "selectBoardList" parameterType="_int" resultMap="boardResultSet">
	
	SELECT *
	FROM COMMUNITY
	WHERE CATEGORY_NO =#{cno}
	AND STATUS = 'Y'
	ORDER BY B_NO DESC
	</select>

	<select id = "selectBoard" parameterType="_int" resultMap="boardResultSet">
	
	SELECT *
	FROM COMMUNITY
	WHERE B_NO = #{bno}

	</select>
	
	
	<select id ="selectSeqBno" resultType="_int">
	SELECT
	SEQ_COM_NO.NEXTVAL
	FROM DUAL
	</select>
	
	
	<insert id="insertBoard" parameterType="CommunityBoard">
	
	INSERT INTO COMMUNITY VALUES
	(
	SEQ_COM_NO.NEXTVAL,
	#{cno},
	#{title},
	#{writer},
	DEFAULT,SYSDATE,SYSDATE,'Y',#{nickname},
	#{content}
	)
	
	</insert>
	
	<insert id="insertCommunityAttachment" parameterType="CommunityAttachment">
	INSERT INTO COM_ATTACHMENT VALUES
	(SEQ_COM_ATTACH.NEXTVAL,
	#{bno},
	#{originName},#{changeName},SYSDATE
	)	
	</insert>
	
	
	<select id="selectAttachmentList" parameterType="_int" resultMap="attachmentResultSet">
	SELECT * FROM COM_ATTACHMENT WHERE B_NO = #{bno} ORDER BY F_NO ASC
	</select>
	
	<update id="updateBoard" parameterType="CommunityBoard">
	UPDATE COMMUNITY SET B_TITLE = #{title},B_CONTENT=#{content},B_MDATE=SYSDATE WHERE B_NO =#{bno}
	</update>
	
	<insert id="insertReply" parameterType="CommunityReply">
	
		<choose>
			<when test="pno != null and pno != '' ">
				INSERT INTO COM_REPLY VALUES(SEQ_COM_REPLY_NO.NEXTVAL,#{bno},#{name},#{pwd},SYSDATE,#{pno},#{comment} )
			
			</when>
			<otherwise>
				INSERT INTO COM_REPLY VALUES(SEQ_COM_REPLY_NO.NEXTVAL,#{bno},#{name},#{pwd},SYSDATE,DEFAULT,#{comment} )
			
			</otherwise>
		
		</choose>
	</insert>
	
	<select id ="selectReplyList" parameterType="_int" resultMap="replyResultSet">
	SELECT * FROM COM_REPLY WHERE B_NO=#{bno} AND PARENT_NO IS NULL ORDER BY C_NO ASC
	
	</select>
	
	<select id ="selectReCommnetList" parameterType="CommunityReply" resultMap="replyResultSet">
	SELECT * FROM COM_REPLY WHERE B_NO=#{bno} AND PARENT_NO = #{pno} ORDER BY C_NO ASC
	
	</select>
	
	<delete id="deleteReply" parameterType="CommunityReply">

	DELETE FROM COM_REPLY WHERE C_NO = #{cno}

	</delete>
	
	<select id="selectCategoryList" resultMap="categoryResultSet">
	SELECT A.*,B.EMP_NAME FROM COM_CATEGORY A LEFT JOIN EMPLOYEE B
	ON C_MANAGER=B.EMP_NO ORDER BY A.CATEGORY_NO ASC
	
	</select>
	<select id="selectCategoryName" parameterType="_int" resultMap="categoryResultSet">
	SELECT * FROM COM_CATEGORY WHERE CATEGORY_NO=#{cno}
	
	</select>
	
	<update id="countBoard" parameterType="_int">
	UPDATE COMMUNITY SET B_HIT = B_HIT+1 WHERE B_NO = #{bno}
	</update>
	
	<select id="selectBestBoardList" resultMap="boardResultSet">
	<![CDATA[
		SELECT A.* ,C_NAME, ROWNUM FROM (SELECT * FROM COMMUNITY ORDER BY B_HIT DESC )A
		LEFT JOIN COM_CATEGORY ON A.CATEGORY_NO = COM_CATEGORY.CATEGORY_NO
		WHERE ROWNUM <= 5
	]]>
	
	</select>
	
	<delete id="deleteCommunityAttachment" parameterType="CommunityAttachment">
	
		DELETE FROM COM_ATTACHMENT WHERE B_NO=#{bno} AND ORIGIN_NAME=#{originName}
	
	</delete>
	
	
		
	<insert id="updateCommunityAttachment" parameterType="CommunityAttachment">
		INSERT INTO COM_ATTACHMENT VALUES
		(SEQ_COM_ATTACH.NEXTVAL,
		#{bno},
		#{originName},#{changeName},SYSDATE
		)	
	</insert>
	
	<select id="selectAttachment" parameterType="CommunityAttachment" resultMap = "attachmentResultSet">
	SELECT * FROM COM_ATTACHMENT WHERE ORIGIN_NAME=#{originName} AND B_NO=#{bno}
	</select>
	
	<delete id="deleteBoard" parameterType="_int">	
	DELETE FROM COMMUNITY WHERE B_NO = #{bno}
	</delete>
	
	<insert id="insertCategory" parameterType="CommunityCategory">
	INSERT INTO COM_CATEGORY VALUES(SEQ_COM_CATEGORY_NO.NEXTVAL,#{cname},#{manager},DEFAULT,#{discription})
	</insert>
	
	<update id="openCategory" parameterType="_int">
	UPDATE COM_CATEGORY SET STATUS = 'Y' WHERE CATEGORY_NO = #{cno}
	</update>
	
	<update id="closeCategory" parameterType="_int">
	UPDATE COM_CATEGORY SET STATUS = 'X' WHERE CATEGORY_NO = #{cno}
	</update>
	<update id="holdCategory" parameterType="_int">
	UPDATE COM_CATEGORY SET STATUS = 'Z' WHERE CATEGORY_NO = #{cno}
	</update>
	
	<select id="selectNewApplyCategory" resultType="_int">
	SELECT COUNT(*) FROM COM_CATEGORY WHERE STATUS='N'
	</select>
	
</mapper>