<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eApprovalMapper">
	<resultMap type="EApproval" id="eApprovalResultSet">
		<id property="eNo" column="E_NO"/>
		<result property="sCode" column="S_CODE"/>
		<result property="sName" column="S_NAME"/>
		<result property="sColor" column="S_COLOR"/>
		<result property="fNo" column="F_NO"/>
		<result property="fName" column="F_NAME"/>
		<result property="title" column="TITLE"/>
		<result property="content" column="CONTENT"/>
		<result property="drafterId" column="DRAFTER_ID"/>
		<result property="drafterName" column="DRAFTER_NAME"/>
		<result property="drafterDept" column="DRAFTER_DEPT"/>
		<result property="draftDate" column="DRAFT_DATE"/>
		<result property="approverId" column="APPROVER_ID"/>
		<result property="approverName" column="APPROVER_NAME"/>
		<result property="approverJob" column="APPROVER_JOB"/>
		<result property="approveDate" column="APPROVE_DATE"/>
		<result property="originName" column="ORIGIN_NAME"/>
		<result property="changeName" column="CHANGE_NAME"/>
	</resultMap>
	
	<resultMap type="EForm" id="eFormResultSet">
		<id property="fNo" column="F_NO"/>
		<result property="fName" column="F_NAME"/>
		<result property="creatorId" column="CREATOR_ID"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="creatorName" column="CREATOR_NAME"/>
		<result property="originName" column="ORIGIN_NAME"/>
		<result property="changeName" column="CHANGE_NAME"/>
	</resultMap>
	
	<resultMap id="memberResultSet" type="Member">
		<id property="empNo" column="EMP_NO"/>
		<result property="empName" column="EMP_NAME"/>
		<result property="empReg" column="EMP_REG"/>
		<result property="phone" column="PHONE"/>
		<result property="email" column="EMAIL"/>
		<result property="deptCode" column="DEPT_CODE"/>
		<result property="jobCode" column="JOB_CODE"/>
		<result property="deptTitle" column="DEPT_TITLE"/>
		<result property="jobName" column="JOB_NAME"/>
		<result property="salCode" column="SAL_CODE"/>
		<result property="salary" column="SALARY"/>
		<result property="bonus" column="BONUS"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="retireDate" column="RETIRE_DATE"/>
		<result property="statement" column="STATEMENT"/>
		<result property="gender" column="GENDER"/>
		<result property="loginId" column="LOGIN_ID"/>
		<result property="loginPwd" column="LOGIN_PWD"/>
		<result property="status" column="STATUS"/>
	</resultMap>
	
	<select id="selectApproveList" parameterType="_int" resultMap="eApprovalResultSet">
		<![CDATA[
			SELECT
			    ROWNUM, X.*
			FROM
			(
			    SELECT 
					A.E_NO,
					A.S_CODE,
					D.S_NAME,
					A.F_NO,
					E.F_NAME,
					A.TITLE,
					A.CONTENT,
					A.DRAFTER_ID,
					B.EMP_NAME DRAFTER_NAME,
					A.DRAFT_DATE,
					A.APPROVER_ID,
					C.EMP_NAME APPROVER_NAME,
					A.APPROVE_DATE,
					A.ORIGIN_NAME,
					A.CHANGE_NAME
				FROM 
				    ELECTRONIC_APPROVAL A
				JOIN EMPLOYEE B ON A.DRAFTER_ID = B.EMP_NO
				JOIN EMPLOYEE C ON A.APPROVER_ID = C.EMP_NO
				JOIN E_STATUS D ON A.S_CODE = D.S_CODE
				JOIN E_FORM E ON A.F_NO = E.F_NO
				WHERE 
                    (A.S_CODE = 1 OR A.S_CODE = 6)
					AND A.APPROVER_ID = #{empNo}
				ORDER BY A.DRAFT_DATE DESC
			) X
			WHERE ROWNUM <= 5
		]]>
	</select>
	
	<select id="selectDraftList" parameterType="_int" resultMap="eApprovalResultSet">
		<![CDATA[
			SELECT
			    ROWNUM, X.*
			FROM
			(
			    SELECT 
				    A.E_NO,
				    A.S_CODE,
				    D.S_NAME,
				    D.S_COLOR,
				    A.F_NO,
				    E.F_NAME,
				    A.TITLE,
				    A.CONTENT,
				    A.DRAFTER_ID,
				    B.EMP_NAME DRAFTER_NAME,
				    A.DRAFT_DATE,
				    A.APPROVER_ID,
				    C.EMP_NAME APPROVER_NAME,
				    A.APPROVE_DATE,
				    A.ORIGIN_NAME,
					A.CHANGE_NAME
				FROM 
				    ELECTRONIC_APPROVAL A
				JOIN EMPLOYEE B ON A.DRAFTER_ID = B.EMP_NO
				JOIN EMPLOYEE C ON A.APPROVER_ID = C.EMP_NO
				JOIN E_STATUS D ON A.S_CODE = D.S_CODE
				JOIN E_FORM E ON A.F_NO = E.F_NO
				WHERE 
				    A.DRAFTER_ID = #{empNo}  
				    AND (A.S_CODE = 1 OR A.S_CODE = 6)
				ORDER BY A.DRAFT_DATE DESC
			) X
			WHERE ROWNUM <= 5
		]]>
	</select>
	
	<select id="selectFinishList" parameterType="_int" resultMap="eApprovalResultSet">
		<![CDATA[
			SELECT
			    ROWNUM, X.*
			FROM
				(
				    SELECT 
				    A.E_NO,
				    A.S_CODE,
				    D.S_NAME,
				    D.S_COLOR,
				    A.F_NO,
				    E.F_NAME,
				    A.TITLE,
				    A.CONTENT,
				    A.DRAFTER_ID,
				    B.EMP_NAME DRAFTER_NAME,
				    A.DRAFT_DATE,
				    A.APPROVER_ID,
				    C.EMP_NAME APPROVER_NAME,
				    A.APPROVE_DATE
				FROM 
				    ELECTRONIC_APPROVAL A
				JOIN EMPLOYEE B ON A.DRAFTER_ID = B.EMP_NO
				JOIN EMPLOYEE C ON A.APPROVER_ID = C.EMP_NO
				JOIN E_STATUS D ON A.S_CODE = D.S_CODE
				JOIN E_FORM E ON A.F_NO = E.F_NO
				WHERE 
				    A.DRAFTER_ID = #{empNo}  
				    AND (A.S_CODE = 2 OR A.S_CODE = 3)
				ORDER BY A.DRAFT_DATE DESC
				) X
			WHERE ROWNUM <= 5
		]]>
	</select>
	
	<select id="selectEApproval" parameterType="string" resultMap="eApprovalResultSet">
		SELECT 
		    A.E_NO,
		    A.S_CODE,
		    D.S_NAME,
		    A.F_NO,
		    E.F_NAME,
		    A.TITLE,
		    A.CONTENT,
		    A.DRAFTER_ID,
		    B.EMP_NAME DRAFTER_NAME,
		    F.DEPT_TITLE DRAFTER_DEPT,
		    A.DRAFT_DATE,
		    A.APPROVER_ID,
		    C.EMP_NAME APPROVER_NAME,
		    G.JOB_NAME APPROVER_JOB,
		    A.APPROVE_DATE,
		    A.ORIGIN_NAME,
		    A.CHANGE_NAME
		FROM 
		    ELECTRONIC_APPROVAL A
		JOIN EMPLOYEE B ON A.DRAFTER_ID = B.EMP_NO
		JOIN EMPLOYEE C ON A.APPROVER_ID = C.EMP_NO
		JOIN E_STATUS D ON A.S_CODE = D.S_CODE
		JOIN E_FORM E ON A.F_NO = E.F_NO
		JOIN DEPARTMENT F ON B.DEPT_CODE = F.DEPT_CODE
		JOIN JOB G ON C.JOB_CODE = G.JOB_CODE
		WHERE 
		    A.E_NO = #{eNo} 
	</select>
	
	<select id="selectEFList" resultMap="eFormResultSet">
		SELECT
			F_NO, F_NAME
		FROM
			E_FORM
		ORDER BY F_NO
	</select>
	
	<select id="selectMemberList" resultMap="memberResultSet">
		SELECT 
			A.EMP_NO, A.EMP_NAME, B.DEPT_TITLE
		FROM 
			EMPLOYEE A
		JOIN DEPARTMENT B ON A.DEPT_CODE = B.DEPT_CODE
		WHERE A.STATEMENT = 'Y'
		ORDER BY A.DEPT_CODE, A.JOB_CODE
	</select>
	
	<select id="selectEForm" parameterType="string" resultMap="eFormResultSet">
		SELECT
			F_NO, F_NAME, FILEPATH
		FROM
			E_FORM
		WHERE F_NO = #{fNo }
	</select>
	
	<select id="selectDrafter" parameterType="_int" resultMap="memberResultSet">
		SELECT
		    A.EMP_NO,
		    A.EMP_NAME,
		    A.DEPT_CODE,
		    B.DEPT_TITLE
		FROM
		    EMPLOYEE A
		JOIN DEPARTMENT B ON A.DEPT_CODE = B.DEPT_CODE
		WHERE EMP_NO = #{empNo}
	</select>
	
	<select id="selectApprover" parameterType="_int" resultMap="memberResultSet">
		SELECT
		    A.EMP_NO,
		    A.EMP_NAME,
		    A.JOB_CODE,
		    B.JOB_NAME
		FROM
		    EMPLOYEE A
		JOIN JOB B ON A.JOB_CODE = B.JOB_CODE
		WHERE EMP_NO = #{empNo}
	</select>
	
	<insert id="insertEApproval" parameterType="EApproval">
		INSERT INTO ELECTRONIC_APPROVAL
		VALUES
		('E-'||TO_CHAR(CURRENT_TIMESTAMP, 'yyMMddHH24MI')||'-'||#{drafterId}, 1, #{fNo}, #{title}, #{content}, #{drafterId}, SYSDATE, #{approverId}, NULL, #{originName}, #{changeName})
	</insert>
	
	<update id="updateEApproval" parameterType="EApproval">
		UPDATE ELECTRONIC_APPROVAL
		SET TITLE=#{title}, CONTENT=#{content}, ORIGIN_NAME=#{originName}, CHANGE_NAME=#{changeName}, S_CODE=#{sCode}
		WHERE E_NO = #{eNo}
	</update>
	
	<update id="deleteEApproval" parameterType="string">
		UPDATE ELECTRONIC_APPROVAL
		SET S_CODE = 4
		WHERE E_NO = #{eNo}
	</update>
	
	<update id="approveEApproval" parameterType="EApproval">
		UPDATE ELECTRONIC_APPROVAL
		<choose>
			<when test="sCode == 2">
				SET S_CODE=#{sCode}, APPROVE_DATE=SYSDATE
			</when>
			<when test="sCode == 3">
				SET S_CODE=#{sCode}, APPROVE_DATE=SYSDATE
			</when>
		</choose>
		WHERE E_NO = #{eNo}
	</update>
	
	<select id="selectWaitEApprovalList" parameterType="_int" resultMap="eApprovalResultSet">
		SELECT 
		    A.E_NO,
		    E.F_NAME,
		    A.TITLE,
		    A.DRAFTER_ID,
		    B.EMP_NAME DRAFTER_NAME,
		    A.DRAFT_DATE,
		    A.APPROVER_ID,
		    C.EMP_NAME APPROVER_NAME,
		    A.ORIGIN_NAME,
			A.CHANGE_NAME
		FROM 
		    ELECTRONIC_APPROVAL A
		JOIN EMPLOYEE B ON A.DRAFTER_ID = B.EMP_NO
		JOIN EMPLOYEE C ON A.APPROVER_ID = C.EMP_NO
		JOIN E_STATUS D ON A.S_CODE = D.S_CODE
		JOIN E_FORM E ON A.F_NO = E.F_NO
		WHERE 
		    A.APPROVER_ID = #{empNo}
		    AND (A.S_CODE = 1 OR A.S_CODE = 6)
		ORDER BY A.DRAFT_DATE DESC
	</select>
	
	<select id="selectDraftEApprovalList" parameterType="_int" resultMap="eApprovalResultSet">
		SELECT 
		    A.E_NO,
		    E.F_NAME,
		    D.S_NAME,
		    D.S_COLOR,
		    A.TITLE,
		    A.DRAFT_DATE,
		    A.ORIGIN_NAME,
			A.CHANGE_NAME
		FROM 
		    ELECTRONIC_APPROVAL A
		JOIN EMPLOYEE B ON A.DRAFTER_ID = B.EMP_NO
		JOIN EMPLOYEE C ON A.APPROVER_ID = C.EMP_NO
		JOIN E_STATUS D ON A.S_CODE = D.S_CODE
		JOIN E_FORM E ON A.F_NO = E.F_NO
		WHERE 
		    A.DRAFTER_ID = #{empNo}
		ORDER BY A.DRAFT_DATE DESC
	</select>
	
	<select id="selectApproveEApprovalList" parameterType="_int" resultMap="eApprovalResultSet">
		SELECT 
		    A.E_NO,
		    A.S_CODE,
		    D.S_NAME,
		    D.S_COLOR,
		    E.F_NAME,
		    A.TITLE,
		    B.EMP_NAME DRAFTER_NAME,
		    A.DRAFT_DATE,
		    A.APPROVE_DATE,
		    A.ORIGIN_NAME,
			A.CHANGE_NAME
		FROM 
		    ELECTRONIC_APPROVAL A
		JOIN EMPLOYEE B ON A.DRAFTER_ID = B.EMP_NO
		JOIN EMPLOYEE C ON A.APPROVER_ID = C.EMP_NO
		JOIN E_STATUS D ON A.S_CODE = D.S_CODE
		JOIN E_FORM E ON A.F_NO = E.F_NO
		WHERE 
		    A.APPROVER_ID = #{empNo}
		    AND A.S_CODE IN (2,3)
		ORDER BY A.DRAFT_DATE DESC
	</select>
	
	<select id="selectEFormList" resultMap="eFormResultSet">
		SELECT
		    A.F_NO,
		    A.F_NAME,
		    B.EMP_NAME CREATOR_NAME,
		    A.CREATE_DATE
		FROM 
		    E_FORM A
		JOIN EMPLOYEE B ON A.CREATOR_ID = B.EMP_NO
		ORDER BY F_NO ASC
	</select>
</mapper>
