<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hrMapper">

	<resultMap id="workResultSet" type="Work">
		<id property="wNo" column="W_NO"/>
		<result property="empNo" column="EMP_NO"/>
		<result property="wDate" column="W_DATE"/>
		<result property="startTime" column="START_TIME"/>
		<result property="endTime" column="END_TIME"/>
		<result property="totalTime" column="TOTAL_TIME"/>
		<result property="strDate" column="STR_DATE"/>
	</resultMap>
	<resultMap id="workSInfoResultSet" type="WorkSInfo">
		<id property="sNo" column="S_NO"/>
		<result property="wNo" column="W_NO"/>
		<result property="sCode" column="S_CODE"/>
		<result property="occurTime" column="OCCUR_TIME"/>
	</resultMap>
	<resultMap id="VacationInfoResultSet" type="VacationInfo">
		<id property="empNo" column="EMP_NO"/>
		<result property="allDays" column="ALL_DAYS"/>
		<result property="usedDays" column="USED_DAYS"/>
		<result property="leftDays" column="LEFT_DAYS"/>
	</resultMap>
	<resultMap id="VRequestResultSet" type="VRequest">
		<id property="reqNo" column="REQ_NO"/>
		<result property="empNo" column="EMP_NO"/>
		<result property="vCode" column="V_CODE"/>
		<result property="firstDate" column="FIRST_DATE"/>
		<result property="lastDate" column="LAST_DATE"/>
		<result property="usingDay" column="USING_DAY"/>
		<result property="reason" column="REASON"/>
		<result property="vName" column="V_NAME"/>
		<result property="empName" column="EMP_NAME"/>
		<result property="deptTitle" column="DEPT_TITLE"/>
	</resultMap>
	<resultMap id="VOccurResultSet" type="VOccur">
		<id property="occurNo" column="OCCUR_NO"/>
		<result property="empNo" column="EMP_NO"/>
		<result property="vCode" column="V_CODE"/>
		<result property="occurDate" column="OCCUR_DATE"/>
		<result property="expiryDate" column="EXPIRY_DATE"/>
		<result property="occurDays" column="OCCUR_DAYS"/>
		<result property="reason" column="REASON"/>
	</resultMap>
	<resultMap id="EmpInfoResultSet" type="EmpInfo">
		<id property="empNo" column="EMP_NO"/>
		<result property="empName" column="EMP_NAME"/>
		<result property="deptTitle" column="DEPT_TITLE"/>
		<result property="email" column="EMAIL"/>
		<result property="jobName" column="JOB_NAME"/>
		<result property="position" column="POSITION"/>
		<result property="exNumber" column="EX_NUMBER"/>
		<result property="phone" column="PHONE"/>
		<result property="mainNumber" column="MAIN_NUMBER"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="duty" column="DUTY"/>
		<result property="occupation" column="OCCUPATION"/>
		<result property="jobGroup" column="JOB_GROUP"/>
		<result property="recruitName" column="RECRUIT_CODE"/>
		<result property="empDiv" column="EMP_CODE"/>
		<result property="salCode" column="SAL_CODE"/>
		<result property="recommender" column="RECOMMENDER"/>
		<result property="statement" column="STATEMENT"/>
		<result property="empReg" column="EMP_REG"/>
		<result property="gender" column="GENDER"/>
		<result property="marriageYn" column="MARRIAGE_YN"/>
		<result property="disabilityYn" column="DISABILITY_YN"/>
		<result property="veteranYn" column="VETERAN_YN"/>
		<result property="retireDate" column="RETIRE_DATE"/>
		<result property="retireReason" column="RETIRE_REASON"/>
	</resultMap>
	
	<select id="selectWorkList" parameterType="Work" resultMap="workResultSet">
		<![CDATA[
			SELECT 
			    W_NO,
			    EMP_NO,
			    TO_DATE(TO_CHAR(W_DATE, 'YYMMDD'), 'YY/MM/DD') W_DATE,
			    CASE
			        WHEN START_TIME = NULL THEN NULL
			        ELSE SUBSTR(TO_TIMESTAMP(START_TIME, 'yyyy/MM/dd hh24:MI:ss'), 10, 8)
			    END START_TIME,
			    CASE
			        WHEN END_TIME = NULL THEN NULL
			        ELSE SUBSTR(TO_TIMESTAMP(END_TIME, 'yyyy/MM/dd hh24:MI:ss'), 10, 8) 
			    END END_TIME,
			    TRUNC((TO_DATE(END_TIME, 'YYYY-MM-DD HH24:MI:SS') - TO_DATE(START_TIME, 'YYYY-MM-DD HH24:MI:SS'))*24)
			    || 'h '
			    || TRUNC((TO_DATE(END_TIME, 'YYYY-MM-DD HH24:MI:SS') - TO_DATE(START_TIME, 'YYYY-MM-DD HH24:MI:SS'))*24*60
			    - TRUNC((TO_DATE(END_TIME, 'YYYY-MM-DD HH24:MI:SS') - TO_DATE(START_TIME, 'YYYY-MM-DD HH24:MI:SS'))*24)*60) 
			    || 'm '
			    || TRUNC((TO_DATE(END_TIME, 'YYYY-MM-DD HH24:MI:SS') - TO_DATE(START_TIME, 'YYYY-MM-DD HH24:MI:SS'))*24*60*60
			    - TRUNC((TO_DATE(END_TIME, 'YYYY-MM-DD HH24:MI:SS') - TO_DATE(START_TIME, 'YYYY-MM-DD HH24:MI:SS'))*24*60)*60)
			    || 's' TOTAL_TIME
			FROM
			    WORK
			WHERE EMP_NO = #{empNo}
			
			UNION
			
			SELECT 
			    NULL,
			    NULL,
			    YMD W_DATE,
			    NULL,
			    NULL,
			    NULL
			FROM 
			    (
			    SELECT 
			        NEXT_DAY((TRUNC(TO_DATE(#{strDate}, 'yy/MM/dd'),'MONTH')-6),'월')+(LEVEL - 1) YMD
			    FROM 
			        DUAL
			    CONNECT BY NEXT_DAY((TRUNC(TO_DATE(#{strDate}, 'yy/MM/dd'),'MONTH')-6),'월')+(LEVEL-1) <= NEXT_DAY(LAST_DAY(TO_DATE(#{strDate}, 'yy/MM/dd')), '일')
			    )
			WHERE YMD NOT IN (
			    SELECT
			        TO_CHAR(W_DATE,'YY/MM/DD')
			    FROM
			        WORK
			    WHERE EMP_NO = #{empNo}
			)
			ORDER BY W_DATE
		]]>
	</select>
	
	<select id="selectWork" parameterType="_int" resultMap="workResultSet">
		SELECT
			W_NO,
			EMP_NO,
			W_DATE,
			SUBSTR(START_TIME, 11, LENGTH(START_TIME)) START_TIME,
			SUBSTR(END_TIME, 11, LENGTH(END_TIME)) END_TIME
		FROM
		    WORK
		WHERE EMP_NO = #{empNo} AND TO_CHAR(W_DATE, 'yy/MM/dd') = TO_CHAR(CURRENT_DATE, 'yy/MM/dd')
	</select>
	
	<insert id="insertWork" parameterType="_int">
		INSERT INTO WORK 
		(W_NO, EMP_NO, W_DATE, START_TIME)
		VALUES
		('W'||#{empNo}||'-'||TO_CHAR(CURRENT_DATE, 'yyyyMMdd'), #{empNo}, CURRENT_DATE, TO_CHAR(CURRENT_TIMESTAMP, 'yyyy-MM-dd HH24:MI:SS'))
	</insert>
	
	<update id="updateWork" parameterType="string">
		UPDATE WORK
		SET END_TIME=TO_CHAR(CURRENT_TIMESTAMP, 'yyyy-MM-dd HH24:MI:SS')
		WHERE W_NO=#{wNo}
	</update>
	
	<insert id="insertWorkStatus" parameterType="WorkSInfo">
		INSERT INTO WORK_STATUS_INFO 
		VALUES
		('S-'||SEQ_WORK_S_INFO.NEXTVAL, #{wNo}, #{sCode}, TO_CHAR(CURRENT_TIMESTAMP, 'yyyy-MM-dd HH24:MI:SS'))
	</insert>
	
	<select id="selectVacationInfo" parameterType="_int" resultMap="VacationInfoResultSet">
		SELECT 
			*
		FROM
			EMP_VACATION_INFO
		WHERE
			EMP_NO = #{empNo}
	</select>
	
	<select id="selectVRequestList" parameterType="_int" resultMap="VRequestResultSet">
		SELECT
		    A.*, 
		    B.V_NAME, 
		    C.EMP_NAME, 
		    D.DEPT_TITLE
		FROM
		    EMP_VACATION_REQ A
		JOIN VACATION B ON A.V_CODE = B.V_CODE
		JOIN EMPLOYEE C ON A.EMP_NO = C.EMP_NO
		JOIN DEPARTMENT D ON C.DEPT_CODE = D.DEPT_CODE
		WHERE 
		    A.EMP_NO = #{empNo}
	    ORDER BY A.FIRST_DATE ASC
	</select>
	
	<select id="selectVOccurList" parameterType="_int" resultMap="VOccurResultSet">
		SELECT 
			*
		FROM
			EMP_VACATION_OCC
		WHERE EMP_NO = #{empNo}
		ORDER BY OCCUR_NO ASC
	</select>
	
	<select id="selectEmpInfo" parameterType="_int" resultMap="EmpInfoResultSet">
		SELECT 
    	A.*, B.*, C.DEPT_TITLE, D.JOB_NAME
		FROM EMPLOYEE A
		JOIN EMP_INFO B ON A.EMP_NO = B.EMP_NO
		JOIN DEPARTMENT C ON A.DEPT_CODE = C.DEPT_CODE
		JOIN JOB D ON A.JOB_CODE = D.JOB_CODE
		WHERE A.EMP_NO = #{empNo}
	</select>
</mapper>
