<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hrMapper">

	<resultMap id="workResultSet" type="Work">
		<id property="wNo" column="W_NO"/>
		<result property="empNo" column="EMP_NO"/>
		<result property="wDate" column="W_DATE"/>
		<result property="startTime" column="START_TIME"/>
		<result property="endTime" column="END_TIME"/>
	</resultMap>
	
	<select id="selectWorkList" parameterType="_int" resultMap="workResultSet">
		SELECT 
			*
		FROM
			WORK
		WHERE 
			EMP_NO = #{empNo}
		ORDER BY W_DATE ASC
	</select>
	
	<insert id="insertWork" parameterType="_int">
		INSERT INTO WORK 
		(W_NO, EMP_NO, W_DATE, START_TIME)
		VALUES
		('W'||#{empNo}||'-'||TO_CHAR(CURRENT_DATE, 'yyyyMMdd'), #{empNo}, CURRENT_DATE, TO_CHAR(CURRENT_TIMESTAMP, 'yyyy-MM-dd HH24:MI:SS'))
	</insert>
	
	<update id="updateWork" parameterType="string">
		UPDATE WORK
		SET END_TIME=TO_CHAR(CURRENT_TIMESTAMP, 'yyyy-MM-dd HH24:MI:SS')
		WHERE W_NO=#{wNo}
	</update>
</mapper>
