<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hrMapper">

	<resultMap id="workResultSet" type="Work">
		<id property="wNo" column="W_NO"/>
		<result property="empNo" column="EMP_NO"/>
		<result property="wDate" column="W_DATE"/>
		<result property="startTime" column="START_TIME"/>
		<result property="endTime" column="END_TIME"/>
	</resultMap>
	<resultMap id="workSInfoResultSet" type="WorkSInfo">
		<id property="sNo" column="S_NO"/>
		<result property="wNo" column="W_NO"/>
		<result property="sCode" column="S_CODE"/>
		<result property="occurTime" column="OCCUR_TIME"/>
	</resultMap>
	<resultMap id="VacationInfoResultSet" type="VacationInfo">
		<id property="empNo" column="EMP_NO"/>
		<result property="allDays" column="ALL_DAYS"/>
		<result property="usedDays" column="USED_DAYS"/>
		<result property="leftDays" column="LEFT_DAYS"/>
	</resultMap>
	<resultMap id="VRequestResultSet" type="VRequest">
		<id property="reqNo" column="REQ_NO"/>
		<result property="empNo" column="EMP_NO"/>
		<result property="vCode" column="V_CODE"/>
		<result property="firstDate" column="FIRST_DATE"/>
		<result property="lastDate" column="LAST_DATE"/>
		<result property="usingDay" column="USING_DAY"/>
		<result property="reason" column="REASON"/>
		<result property="vName" column="V_NAME"/>
		<result property="empName" column="EMP_NAME"/>
		<result property="deptTitle" column="DEPT_TITLE"/>
	</resultMap>
	
	<select id="selectWorkList" parameterType="_int" resultMap="workResultSet">
		SELECT 
			*
		FROM
			WORK
		WHERE 
			EMP_NO = #{empNo}
		ORDER BY W_DATE ASC
	</select>
	
	<insert id="insertWork" parameterType="_int">
		INSERT INTO WORK 
		(W_NO, EMP_NO, W_DATE, START_TIME)
		VALUES
		('W'||#{empNo}||'-'||TO_CHAR(CURRENT_DATE, 'yyyyMMdd'), #{empNo}, CURRENT_DATE, TO_CHAR(CURRENT_TIMESTAMP, 'yyyy-MM-dd HH24:MI:SS'))
	</insert>
	
	<update id="updateWork" parameterType="string">
		UPDATE WORK
		SET END_TIME=TO_CHAR(CURRENT_TIMESTAMP, 'yyyy-MM-dd HH24:MI:SS')
		WHERE W_NO=#{wNo}
	</update>
	
	<insert id="insertWorkStatus" parameterType="WorkSInfo">
		INSERT INTO WORK_STATUS_INFO 
		VALUES
		('S-'||SEQ_WORK_S_INFO.NEXTVAL, #{wNo}, #{sCode}, TO_CHAR(CURRENT_TIMESTAMP, 'yyyy-MM-dd HH24:MI:SS'))
	</insert>
	
	<select id="selectVacationInfo" parameterType="_int" resultMap="VacationInfoResultSet">
		SELECT 
			*
		FROM
			EMP_VACATION_INFO
		WHERE
			EMP_NO = #{empNo}
	</select>
	
	<select id="selectVRequestList" parameterType="_int" resultMap="VRequestResultSet">
		SELECT
		    A.*, 
		    B.V_NAME, 
		    C.EMP_NAME, 
		    D.DEPT_TITLE
		FROM
		    EMP_VACATION_REQ A
		JOIN VACATION B ON A.V_CODE = B.V_CODE
		JOIN EMPLOYEE C ON A.EMP_NO = C.EMP_NO
		JOIN DEPARTMENT D ON C.DEPT_CODE = D.DEPT_CODE
		WHERE 
		    A.EMP_NO = #{empNo}
	    ORDER BY A.FIRST_DATE ASC
	</select>
</mapper>
