<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="libraryMapper">


	<!-- CommunityBoard -->
	<resultMap id="boardResultSet" type="LibraryBoard">
		<id column="l_no" property="lno"/>
		<result column="category_no" property="cno"/>
		<result column="l_title" property="title"/>
		<result column="l_content" property="content"/>
		<result column="l_writer" property="writer"/>
		<result column="l_hit" property="hit"/>
		<result column="l_date" property="LDate"/>
		<result column="status" property="status"/>
		<result column="origin_name" property="originName"/>
		<result column="change_name" property="changeName"/>
	</resultMap>

	
		<resultMap id="categoryResultSet" type="LibraryCategory">
		<id column="CATEGORY_NO" property="cno"/>
		<result column="C_NAME" property="cname"/>
		
	</resultMap>
	
	<select id="selectListCount" parameterType="_int" resultType="_int">
	
		<choose>
			<when test="cno != 0">
				SELECT COUNT(*) FROM LIBRARY WHERE C_NO = #{cno}
			</when>
			<otherwise>
				SELECT COUNT(*) FROM LIBRARY
			</otherwise>
		</choose>	
	</select>
	
	<select id="selectBoardList" parameterType="_int" resultMap="boardResultSet">
	

			
			
			<choose>
			<when test="cno != 0">
				SELECT *
				FROM LIBRARY
				WHERE C_NO =#{cno}
				AND STATUS = 'Y'
				ORDER BY L_TITLE			
				</when>
			<otherwise>
				SELECT *
				FROM LIBRARY
				WHERE STATUS = 'Y'
				ORDER BY L_TITLE			
			</otherwise>
		</choose>	
			
			
			
	</select>
	
	<insert id="insertBoard" parameterType ="LibraryBoard">
		
		INSERT INTO LIBRARY VALUES(SEQ_LIBRARY_NO.NEXTVAL,#{title},#{content},
		200,DEFAULT,SYSDATE,'Y',#{cno},#{originName},#{changeName}
		)	
	</insert>
	
	<select id="selectOriginFileName" parameterType="string" resultType="string">
	
		SELECT ORIGIN_NAME FROM LIBRARY WHERE CHANGE_NAME = #{fileName}
	</select>
	

</mapper>
