<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap id="memberResultSet" type="Member">
		<id property="userId" column="user_ID"/>
		<result property="userPwd" column="user_PWD"/>
		<result property="userName" column="user_NAME"/>
		<result property="email" column="EMAIL"/>
		<result property="gender" column="GENDER"/>
		<result property="age" column="AGE"/>
		<result property="phone" column="PHONE"/>
		<result property="address" column="ADDRESS"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="modifyDate" column="modify_DATE"/>
		<result property="status" column="STATUS"/>
	</resultMap>

	<select id="loginMember" parameterType="Member" resultMap="memberResultSet">
		<!-- 암호화 전 
		select * from member where user_id=#{userId} and user_pwd=#{userPwd} and status='Y'
		-->
		<!-- 암호화 후 -->
		select * from member
		where user_id=#{userId} and status='Y'
		
	</select>
	
	<insert id="insertMember" parameterType="Member">
		insert into member
		values(#{userId}, #{userPwd}, #{userName}, #{email}, #{gender}, #{age}, #{phone}, #{address}, sysdate, sysdate, default)
	</insert>
	
	<update id="updateMember" parameterType="Member">
		update member set
		user_NAME = #{userName}, EMAIL = #{email}, GENDER = #{gender}, AGE = #{age}, PHONE = #{phone}, ADDRESS = #{address}, modify_DATE = sysdate
		WHERE user_ID = #{userId}
	</update>
	
	<update id="deleteMember" parameterType="Member">
		update member set
		STATUS = 'N'
		WHERE user_ID = #{userId}
	</update>
</mapper>
