<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap id="memberResultSet" type="Member">
		<id property="empNo" column="EMP_NO"/>
		<result property="empName" column="EMP_NAME"/>
		<result property="empReg" column="EMP_REG"/>
		<result property="phone" column="PHONE"/>
		<result property="email" column="EMAIL"/>
		<result property="deptCode" column="DEPT_CODE"/>
		<result property="jobCode" column="JOB_CODE"/>
		<result property="salCode" column="SAL_CODE"/>
		<result property="salary" column="SALARY"/>
		<result property="bonus" column="BONUS"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="retireDate" column="RETIRE_DATE"/>
		<result property="statement" column="STATEMENT"/>
		<result property="gender" column="GENDER"/>
		<result property="loginId" column="LOGIN_ID"/>
		<result property="loginPwd" column="LOGIN_PWD"/>
		<result property="status" column="STATUS"/>
	</resultMap>
	
	<resultMap id="loginResultSet" type="LoginInfo">
		<id property ="empNo" column="EMP_NO"/>
		<result property="loginId" column="LOGIN_ID"/>
		<result property="loginPwd" column="LOGIN_PWD"/>
		<result property="status" column="STATUS"/>
	</resultMap>

	<select id="loginMember" parameterType="Member" resultMap="memberResultSet">
		<!-- 암호화 전 
		select * from member where user_id=#{userId} and user_pwd=#{userPwd} and status='Y'
		-->
		<!-- 암호화 후 -->
		select * 
		from employee a
		left join login_info b on a.emp_no = b.emp_no
		where b.login_id = #{loginId} and b.status = 'Y'
		
		
	</select>
	
	<insert id="insertMember" parameterType="Member">
		insert into member
		values(#{userId}, #{userPwd}, #{userName}, #{email}, #{gender}, #{age}, #{phone}, #{address}, sysdate, sysdate, default)
	</insert>
	
	<update id="updateMember" parameterType="Member">
		update member set
		user_NAME = #{userName}, EMAIL = #{email}, GENDER = #{gender}, AGE = #{age}, PHONE = #{phone}, ADDRESS = #{address}, modify_DATE = sysdate
		WHERE user_ID = #{userId}
	</update>
	
	<update id="deleteMember" parameterType="Member">
		update member set
		STATUS = 'N'
		WHERE user_ID = #{userId}
	</update>
</mapper>
